Incorrect decoding of JSON strings containing non-BMP characters encoded with \u UTF16 escapes

It looks like jsonnet is failing to parse JSON strings containing embedded \u escape sequences.

[RFC4627 section 2.5](https://tools.ietf.org/html/rfc4627#section-2.5) says that characters outside the Basic Multilingual Plane (BMP) can be encoded either in the native encoding of the JSON file itself or as its UTF-16 surrogate pair with each pair of bytes escaped with `\u`. This was news to me.

If my interpretation of the RFC is correct, these two UTF-8 JSON files should be equivalent:

test1.json:
```
["\uD83D\uDCD8"]
```
and test2.json (as generated by `base64 -d > test2.json <<<"WyLwn5OYIl0K"`):
```
["📘"]
```

I therefore expected the following jsonnet program to decode them similarly, but it doesn't:

```
{
  "test1.json": import 'test1.json',
  "test2.json": import 'test2.json',
}
```
Using jsonnet 0.17.0, the blue book in test1.json is encoded as `0xed 0xa0 0xbd 0xed 0xb3 0x98` in the output whereas from test2.json it is encoded as UTF-8, i.e. `0xf0 0x9f 0x93 0x98`

`0xed 0xa0 0xbd` is the UTF-8 encoding for U+D83D and `0xed 0xb3 0x98` is the UTF-8 encoding for U+DCD8 so I think these non-BMP characters are being treated as though they are BMP characters.

I think the issue is here: https://github.com/google/jsonnet/blob/master/core/string_utils.cpp#L114. Is the solution to validate whether the codepoint is a BMP one or not, and if not, attempt to parse a subsequent `\u` escape, then decode the result of the two as UTF-16?

Thanks you very much for reporting this. It seems that you're right. In particular, I was able to get the behavior you expected when parsing JSON in Python and with `std.parseJson` in Jsonnet (which uses a faster 3rd party parser). So it's a bug in our parser and we should fix this.

Thanks for responding - I didn't realise `std.parseJson` used a different parser and indeed you're right - it seems to deal with these escapes correctly, as demonstrated by this test:

```
{
  "test1.json (import)": import 'test1.json',
  "test1.json (importstr+parseJson)": std.parseJson(importstr 'test1.json'),
  "test2.json (import)": import 'test2.json',
  "test2.json (importstr+parseJson)": std.parseJson(importstr 'test2.json'),
}
```

I had a go here at putting the pieces of a fix together: https://github.com/google/jsonnet/pull/898

Terrible code, but I haven't touched C++ in over 20 years so it's as good as it's going to get, I'm afraid!